 <div class="product">
   <p class ="name">  <strong>Name: <%= product.name %></strong>  </p>
   <p class = "description"><strong>Description: <%= product.description %></strong> </p>
   <p class = "price"> <strong>Price: <%= product.formatted_price %> </strong></p>
</div>